<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Model\Order\Pdf\Invoice">
        <plugin name="order_invoice_pdf_footer_plugin" type="EchoWeb\InvoicePdfFooter\Plugin\Sales\Model\Order\Pdf\InvoicePlugin" />
    </type>
</config>
